<%- include('../views/layouts/logout-header') %> 
<div class="link">
    <a href="/dashboard">Back</a>
</div>
<div class="mycontainer container-fluid">
    <h2 class="update">Update Result</h2>
    <% function convert(str) { var date = new Date(str); mnth = ("0" +
                    (date.getMonth() + 1)).slice(-2); day = ("0" +
                    date.getDate()).slice(-2); str = [date.getFullYear(), mnth,
                    day].join("-"); return str; } %>
    <form class= "form-horizontal"name="my-form" action="/result/update" method="post">
        <div class="form-group row">
            <label for="rollno" class="control-label col-md-4 col-form-label text-md-right">
                Roll No</label>
            <div class="col-md-6">
                <input type="text" id="rollno" class="form-control" name="rollno" value=<%=result.studentRollNo %> required>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="name" class=" control-label col-md-4 col-form-label text-md-right">Name</label>
            <div class="col-md-6">
                <input type="text" id="name" class="form-control" name="name" value=<%=result.studentName %>
                    required>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="dob" class=" control-label col-md-4 col-form-label text-md-right">Date or Birth</label>
            <div class="col-md-6">
                <div class="input-group date" data-provide="datepicker">
                    <input type="date" class="form-control" name="dob" id="dob" value=<%= convert(result.dateOfBirth) %>>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="score" class=" control-label col-md-4 col-form-label text-md-right">Score</label>
            <div class="col-md-6">
                <input type="text" id="score" class="form-control" name="score" value=<%=result.score %>
                    required>
            </div>
        </div>
        <br>
        <div class="col-md-6 offset-md-4">
            <button type="submit" class=" btn-class btn btn-primary">
                Submit
            </button>
            <button type="submit" class=" btn-class btn btn-outline-primary">
                Clear
            </button>
        </div>
</div>
</form>                       
</div>
  
<%- include('../views/layouts/footer') %> 